$active-color: grey;
::ng-deep{
    .canvas-container{
        color: white;
        display:grid;
        grid-template-columns: 800px 250px;
        grid-template-rows: auto;
        grid-template-areas:
    "canvas layers"
    "tools tools";
    }
    .layers{
        max-height: 600px;
        grid-area: layers;
        overflow-y: auto;
        overflow-x: hidden;
        margin-left:10px;

        .layers-count{
            padding:10px;
            font-weight: bold;
        }
        .layer{
            margin-top:2px;
            width:100%;
            padding-left: 5px;
            border-left: 5px solid white;
            transition: .4s;
            color: white;
            cursor: pointer;
            user-select: none;
            &:hover{
                background: white;
                color: $active-color;
            }
            &.active{
                border-left: 10px solid $active-color;
                color: $active-color;
                background: white;
            }
        }
    }
    .canvas{
        grid-area: canvas;
    }
    .tools{
        padding:5px;
        grid-area: tools;
        display: flex;
        flex-direction: row;
        .tool{
            padding: 2px 4px;
            border: 1px solid grey;
            margin-right: 10px;
            cursor: pointer;
            user-select: none;
            &.active{
                background: grey;
            }
        }
        .scale{
            padding: 2px 4px;
            margin-right: 10px;
            cursor: pointer;
            user-select: none;
        }
    }
}
.save-button{
    margin-top:50px;
    text-align:center;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}
.hidden{
    display: none;
}
