<div class="canvas-container">
    <canvas class="canvas" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" (mousedown)="mouseDown($event)"
            #myCanvas></canvas>
    <div class="layers">
        <div class="layers-count">Layers ({{layers.length}})</div>
        <div class="layer" [ngClass]="{active: layer === this.selectedLayer }" *ngFor="let layer of layers; let i = index" (click)="toggleSelectedLayer(i)">
            {{layer.type}}
        </div>
    </div>
    <div class="tools">
        <div class="tool" [ngClass]="{active: tool === this.selectedTool}" *ngFor="let tool of availableTools" (click)="changeTool(tool)">{{tool}}</div>
        <div class="scale" *ngIf="ableToScale()" (click)="scaleUp()">scale up</div>
        <div class="scale" *ngIf="ableToScale()" (click)="scaleDown()">scale down</div>
    </div>
    <div class="save-button" (click)="saveImage()">Save image</div>
</div>
<a class="hidden" id="link"></a>

